# Ignore Python cache files
*.pyc
*.pyo
__pycache__/
# .gitignore for Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
build/
dist/
.env
.venv
*.env
# dependencies
node_modules/
temp/

# optional: environment and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
